*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(240, 229, 193);
    /* background-image: url(../images/download\ \(2\).jpg);
    background-repeat:no-repeat ;
    background-size: cover; */
}
.o{ background-image: url(../images/download\ \(2\).jpg);
    background-repeat:no-repeat ;
    background-size: cover;}
.container{
    width: 80%;
    margin: auto;
}
header{
   height: 70px;
   background-color:rgb(82, 63, 11);
   padding: 10px 0px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 33px;
    text-decoration: none;
    color:beige;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li a{
display: block;
text-decoration: none;
color: beige;
/* background-color: aquamarine; */
min-width: 80px;
padding: 5px;
margin: 0px 5px;
}
.overlay{position: absolute;
    width: 100%;
   height: 100%;
background-color: hsla(0, 0%, 0%, 0.3);}
/* ************  form ************************* */
.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: #f5f5dc83;
    width: 45%;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid burlywood;
}
.section-form h2{
    color: 1B4242;
    font-size: 50px;
    letter-spacing: 2px;
}
.section-form form input{
    display: block;
    width: 90%;
    height: 30px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid rgb(206, 191, 142);
    border-radius: 4px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 16px;
   outline: none;
}
.section-form form input[type="submit"] {
    font-size: 25px;
    text-transform: uppercase;
    height: auto;
    cursor: pointer;  
}
.section-form form  input[type="submit"]:hover {
    opacity: .5;
}
nav  ul#user_info {
    display: none;}
    /* /////////////////////////////////////////////////// */
.products{
    width: 60%;
    margin: 10px;
}
.product-item{
    display: flex;
    width: 100%;
    border: 1px solid rgb(206, 191, 142);
    min-height: 150px;
    color: rgb(77, 70, 49);
    font-size: 20px; 
    margin: 6px;
}
.product-item-img{
    width: 25%;
    margin-right: 10px;
    height: 210px;
}
.action{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.action .Add-to-cart{
    display: block;
    margin-left: auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(70, 57, 12); 
    color: #fff;
    border: 0px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.action .fav{
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;
    margin-right: 10px;
}
/* //////////////////////////////////////////////// */
nav  ul#user_info .cart{
    color: beige;
    cursor: pointer;
    font-size: 22px;
}
nav  ul#user_info li{
    margin: 0px 10px;
    position: relative;
}
nav  ul#user_info li .badge{
    position: absolute;
    background-color: rgb(231, 149, 41);
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    display: none;
    top:-10px;
    right:-12px;
    font-size: 14px;
}
/* /////////////////////////////////////////////////////////////// */
.carts_product{position: absolute;
    width: 180px;
    transform: translate(-40% ,0);
    background-color: rgb(230, 198, 157);
    text-align: center;
    top: 53px;
    border: 2px solid rgb(206, 191, 142);
    display: none;
    
   }
.carts_product a{
    display: block;
    margin: 3px ,0;
    padding: 0px;
    background-color: rgb(110, 92, 69);}
/* /////////////////////////////////////////////////////////////// */